<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mckj.sceneslib">

    
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <application>

        <receiver
            android:name="com.mckj.sceneslib.manager.AppBroadcastReceiver"
            android:permission="0">
            <intent-filter>
                <action android:name="${applicationId}.action.home.notify" />
                <action android:name="${applicationId}.action.home.widget" />
                <action android:name="${applicationId}.action.speed.notify" />
                <action android:name="${applicationId}.action.speed.widget" />
                <action android:name="${applicationId}.action.WIDGET_ADDED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.mckj.sceneslib.ui.scenes.ScenesContainerActivity"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/OpenTheme" />

    </application>

</manifest>