<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mckj.baselib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>

        <!--华为8.0刘海适配-->
        <meta-data
            android:name="android.notch_support"
            android:value="true"
            tools:node="remove" />

        <!--小米8.0刘海适配-->
        <meta-data
            android:name="notch.config"
            android:value="portrait"
            tools:node="remove" />

    </application>

</manifest>